PORTFOLIO_GITHUB_USERNAME=jmcclary27
PORTFOLIO_DISPLAY_YEAR=2026
GH_PORTFOLIO_TOKEN=replace-with-github-token
PORTFOLIO_S3_BUCKET=replace-with-s3-bucket
PORTFOLIO_CLOUDFRONT_DISTRIBUTION_ID=replace-with-cloudfront-distribution-id
PORTFOLIO_AWS_REGION=us-east-2
